.bureau {
    @include adaptiveValue("margin-bottom", 98, 40);
    position: relative;
    // .bureau__container
    &__container {
    }
    // .bureau__top
    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 100, 15);
        @include adaptiveValue("margin-bottom", 69, 16);
    }
    // .bureau__adv
    &__adv {
        @include gridCards("fit", rem(250), 1fr);
        @include adaptiveValue("gap", 93, 30);
    }
}
.top-bureau {
    // .top-bureau__image
    &__image {
        flex: 0 0 rem(443);
        padding-right: rem(66);
        padding-bottom: rem(49);
        height: fit-content;

        position: relative;

        .elem {
            position: absolute;
            bottom: 0;
            right: 0;

            width: rem(187);
            height: rem(189);

            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 200%;
                height: 200%;

                border-radius: 50%;

                background-color: $golden;
            }
        }

        img {
            width: 100%;
            @include adaptiveValue("height", 463, 209, 991, 320, 1);

            @include adaptiveValue("border-radius", 150, 59);
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }

        @media (max-width: $tablet) {
            display: none;
        }

        @media (max-width: $mobileSmall) {
            display: block;
            margin-bottom: rem(51);
            padding: 0;

            img {
                width: 100%;
            }

            .elem {
                bottom: rem(-21);

                width: rem(83);
                height: rem(84);
            }
        }
    }
    // .top-bureau__content
    &__content {
    }
}
.content-top-bureau {
    // .content-top-bureau__title
    &__title {
        @include adaptiveValue("margin-bottom", 52, 16);
        line-height: math.div(73, 60);
        text-transform: uppercase;
        color: $dark;
    }
    // .content-top-bureau__text
    &__text {
        @include adaptiveValue("margin-bottom", 52, 16);
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 32, 21);
            }
        }
    }
    // .content-top-bureau__subtitle
    &__subtitle {
        line-height: math.div(51, 34);
        @include adaptiveValue("font-size", 34, 16);
        text-transform: uppercase;
        color: $dark;
    }
}
.adv-bureau {
    // .adv-bureau__item
    &__item {
        flex: 0 0 rem(450);
    }
    // .adv-bureau__icon
    &__icon {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: rem(40);
        padding-right: rem(14);
        padding-bottom: rem(16);

        width: rem(113);
        height: rem(107);

        position: relative;

        &::after {
            content: "";
            width: rem(60);
            height: rem(60);
            background-color: rgba($golden, 0.1);
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 10px;
        }

        @media (max-width: $mobile) {
            margin: 0 auto rem(20);
        }
    }
    // .adv-bureau__title
    &__title {
        margin-bottom: rem(18);
        line-height: math.div(32, 27);
        @include adaptiveValue("font-size", 27, 18);

        letter-spacing: 0.02em;
        color: $dark2;
    }
    // .adv-bureau__text
    &__text {
        letter-spacing: 0.02em;
    }
}
