// Заголовки, общие БЭМ блоки и проче...

html {
    overflow-x: hidden;
}

body {
    @extend %hidescroll;
    position: relative;

    @media (min-width: $tablet) {
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;

            width: 100%;
            max-width: rem(1585);
            height: rem(882);
            max-height: 100vh;

            background: url("@img/elements/lines.svg") right top no-repeat;

            @media (min-width: $pc) {
                right: rem(-40);
            }
        }
    }
}

h1 {
    font-weight: 600;
    @include adaptiveValue("font-size", 60, 36, 1920, 320, 1);
    line-height: math.div(72, 60);
    text-transform: uppercase;
    color: $dark;
    letter-spacing: normal;
}

h2 {
    font-weight: 600;
    line-height: math.div(90, 64);
    @include adaptiveValue("font-size", 64, 28);
}

h3 {
    line-height: math.div(32, 28);
    @include adaptiveValue("font-size", 28, 14);
}

.line {
    max-width: rem($maxWidthContainer);
    padding: 0 rem(15);
    height: 0.5px;
    background-color: $golden;
    @include adaptiveValue("margin-top", 100, 40);
    @include adaptiveValue("margin-bottom", 100, 40);
    margin-right: auto;
    margin-left: auto;
}

._s-dark {
    background-color: #080d1b;
}