.crumbs {
    margin-bottom: rem(100);
    // .crumbs__container
    &__container {
        display: flex;
        gap: rem(20);

        font-weight: 500;
        line-height: math.div(30, 16);
        font-size: rem(16);
        color: $dark2;

        .contacts & {
            padding-left: 0;
        }

        a {
            &::after{
                content:'/';
                display: inline-block;
                margin-left: rem(20);
            }
        }
    }
}
