.crumbs {
    @include adaptiveValue("margin-bottom", 100, 9);
    // .crumbs__container
    &__container {
        display: flex;
        @include adaptiveValue("gap", 20, 8);

        font-weight: 500;
        line-height: math.div(30, 16);
        @include adaptiveValue("font-size", 16, 12);
        color: $dark2;

        .contacts & {
            padding-left: 0;
        }

        a {
            &::after {
                content: "/";
                display: inline-block;
                @include adaptiveValue("margin-left", 20, 8);
            }
        }
    }
}
