//====================================================================================================
.intro {
    position: relative;
    // .intro__container
    &__container {
        display: flex;
        flex-direction: column-reverse;
        gap: rem(30);
        @include adaptiveValue("gap", 30, 16);

        @media (min-width: $tablet) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    // .intro__content
    &__content {
        flex: 1 1 auto;
        max-width: rem(644);

        @media (min-width: $tablet) {
            padding-top: rem(30);
        }
    }
    // .intro__blocks
    &__blocks {
        margin: 0 auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(8);

        @media (min-width: $mobile) {
            flex: 0 0 rem(650);
            max-width: rem(650);
        }
    }
}
.content-intro {
    // .content-intro__subtitle
    &__subtitle {
        @include adaptiveValue("margin-bottom", 30, 9);
        color: $dark;
    }
    // .content-intro__title
    &__title {
        @include adaptiveValue("margin-bottom", 30, 15);
    }
    // .content-intro__text
    &__text {
        @include adaptiveValue("margin-bottom", 42, 20);
        letter-spacing: 0.02em;
    }
}
.blocks-intro {
    // .blocks-intro__item
    &__item {
        @include adaptiveValue("height", 210, 96, 767, 320, 1);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        // ._item1
        &._item1 {
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 200%;
                height: 200%;
                background-color: #080d1b;
                border-radius: 50%;
            }
        }
        // ._item2
        &._item2 {
        }
        // ._item3
        &._item3 {
            background-color: $golden;
        }
        // ._item4
        &._item4 {
            grid-column: span 2;
            background-color: $golden;
            @include adaptiveValue("border-radius", 100, 58, 991, 320, 1);
            border-top-right-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        // ._item5
        &._item5 {
            position: relative;
            background: #0f337a;
            border-radius: 50%;
            cursor: pointer;

            &::after {
                content: "";
                width: rem(20);
                height: rem(20);
                background: url("@img/icons/play.svg") center no-repeat;

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        // ._item6
        &._item6 {
        }
        // ._item7
        &._item7 {
            position: relative;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 200%;
                height: 200%;
                background-color: #080d1b;
                border-radius: 50%;
            }
        }
        // ._item8
        &._item8 {
        }
    }
}

//====================================================================================================
