.practice {
    border-radius: 80px;
    &._block {
        margin-bottom: rem(100);
        padding: rem(75) 0 rem(146);
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 49%;
            background: url("@img/elements/practice-lines.svg") 0 0 no-repeat;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        &::after {
            content: "";
            width: rem(321);
            height: rem(305);
            background: url("@img/elements/practice-at.png") center no-repeat;
            background-size: contain;

            position: absolute;
            right: rem(-123);
            top: 50%;
            z-index: 1;
        }
    }
    // .practice__container
    &__container {
    }
    // .practice__section-title
    &__section-title {
        margin-bottom: rem(91);
        text-align: center;
        color: #fffaf3;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
    }
    // .practice__title
    &__title {
        margin-bottom: rem(60);
    }
    // .practice__list
    &__list {
        @include gridCards("fit", rem(700), 1fr);
        position: relative;
        z-index: 2;
    }
    // .practice__item
    &__item {
        border-radius: rem(30);
        overflow: hidden;

        &:first-child {
            .item-practice__title {
                background-color: $golden;
            }
        }
    }
}
.item-practice {
    // .item-practice__image
    &__image {
        img {
            width: 100%;
            height: rem(231);
        }
    }
    // .item-practice__title
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(25) 0;
        min-height: rem(118);
        background-color: #fff;

        span {
            max-width: rem(580);
            line-height: math.div(34, 28);
            font-size: rem(28);
            text-align: center;
            color: $dark2;
        }
    }
}
//========================================================================================================================================================
.practice {
    // .practice__block
    &__block {
        color: $dark2;
        position: relative;
        overflow: hidden;

        &:nth-of-type(2) {
            position: relative;
            &::before {
                content: "";
                background: url("@img/elements/practice-line-1.svg") center no-repeat;
                background-size: contain;
                position: absolute;
                top: rem(-166);
                left: 0;
                z-index: 1;
                width: rem(763);
                height: rem(1933);
            }

            &::after {
                content: "";
                background: url("@img/elements/practice-page-branch.png") center no-repeat;
                width: rem(222);
                height: rem(174);
                background-size: contain;
                position: absolute;
                bottom: rem(220);
                @include adaptiveValue("left", 153, 15, 1920, 1600, 1);
                z-index: 1;
            }
        }

        &:last-child {
            &::before {
                content: "";
                background: url("@img/elements/practice-line-bottom.svg") center no-repeat;

                width: 100%;
                height: rem(462);
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }

        // ._dark
        &._dark {
            padding: rem(150) 0;
            border-radius: 80px;
            background-color: #080d1b;
            color: #fff;

            &:last-child {
                border-radius: 80px 80px 0 0;
            }
        }

        &:not(:last-child) {
            margin-bottom: rem(100);
        }
    }
}
.block-practice {
    // .block-practice__container
    &__container {
        display: flex;
        @include adaptiveValue("gap", 169, 30);
    }
    &__left,
    &__right {
        position: relative;
        z-index: 2;
        h3 {
            margin-bottom: rem(30);
            line-height: math.div(51, 34);
            font-size: rem(34);
            text-transform: uppercase;
        }

        ul {
            margin-bottom: rem(30);

            li {
                display: flex;
                gap: rem(14);

                letter-spacing: 0.02em;
                line-height: math.div(32, 20);

                &:not(:last-child) {
                    margin-bottom: rem(20);
                }

                &::before {
                    content: "-";
                }
            }
        }

        img {
            border-radius: 30px;
        }
    }
    // .block-practice__left
    &__left {
        flex: 1 1 auto;

        ._dark & {
            flex: 0 0 rem(649);
        }
    }
    // .block-practice__right
    &__right {
        flex: 0 0 rem(649);

        ._dark & {
            flex: 1 1 auto;
        }
    }
}
