.team {
    // ._block
    &._block {
        border-radius: 80px 80px 0 0;
        padding: rem(18) 0 rem(45);

        position: relative;

        @include adaptiveValue("border-radius", 80, 40);
        border-bottom-right-radius: 0 !important;
        border-bottom-left-radius: 0 !important;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            max-height: rem(439);
            background: url("@img/elements/team-lines.svg") center no-repeat;
            background-size: cover;
            position: absolute;
            top: rem(-61);
            left: rem(0);
            z-index: 1;
        }

        @media (min-width: $tablet) {
            padding: rem(75) 0 rem(110);
            &::after {
                content: "";
                width: rem(321);
                height: rem(305);
                background: url("@img/elements/practice-at.png") center no-repeat;
                background-size: contain;

                position: absolute;
                left: rem(-150);
                top: 55%;
                z-index: 1;
            }
        }
    }
    // .team__container
    &__container {
        position: relative;

        @media (min-width: $tablet) {
            .home & {
                &::after {
                    content: "";
                    background: url("@img/elements/elem-team.png") 0 0 no-repeat;
                    width: rem(204);
                    height: rem(174);
                    position: absolute;
                    top: rem(-50);
                    right: 0;
                    z-index: 1;

                    @media (min-width: $pc) {
                        right: rem(-100);
                    }
                }
            }
        }
    }
    // .team__section-title
    &__section-title {
        @include adaptiveValue("margin-bottom", 74, 16);
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    // .team__list
    &__list {
    }
    // .team__wrapper
    &__wrapper {
        @include gridCards("fit", rem(300), 1fr, rem(30));
        position: relative;
        z-index: 100;
    }
    // .team__slide
    &__slide {
        border-radius: 30px;
        overflow: hidden;
    }
}
.slide-team {
    // .slide-team__photo
    &__photo {
        img {
            width: 100%;
            height: 100%;
        }
    }
    // .slide-team__content
    &__content {
        padding: rem(20) rem(20) rem(28);
        background-color: #fff;
        height: 100%;

        @media (min-width: $pc) {
            padding: rem(30) rem(47) rem(24) rem(40);
        }
    }
    // .slide-team__info
    &__info {
        margin-bottom: rem(17);
        padding-bottom: rem(17);
        border-bottom: 1px solid rgba(13, 21, 42, 0.3);
    }
    // .slide-team__contact
    &__contact {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: rem(20);

        @media (max-width: $mobile) {
            align-items: center;
        }
    }
}
.info-slide-team {
    // .info-slide-team__position
    &__position {
        font-family: $fontAdd;
        font-weight: 500;
        @include adaptiveValue("font-size", 18, 10);
        line-height: math.div(30, 18);
        letter-spacing: 0.02em;

        color: $golden;
    }
    // .info-slide-team__name
    &__name {
        margin-bottom: rem(10);
        color: $dark2;
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 16);
        /* text-transform: uppercase; */
    }
}
.contacts-slide-team {
    // .contacts-slide-team__left
    &__left {
        flex: 1 1 auto;
        a {
            margin-bottom: rem(10);
            color: $dark2;
            @include adaptiveValue("font-size", 20, 12);
            &::before {
                color: $golden;
                font-size: rem(15);
            }
        }
    }
    // .contacts-slide-team__social
    &__social {
        display: flex;

        flex: 0 0 rem(70);

        a {
            font-size: 0;

            &::before {
                font-size: rem(30);
                color: #d3d8db;
                transition: color 0.4s ease;
            }

            &:hover {
                &::before {
                    color: #0077ff;
                }
            }

            @media (max-width: $tablet) {
                &::before {
                    font-size: rem(20);
                }
            }
        }
    }
}
//========================================================================================================================================================
.team {
    // .team__title
    &__title {
        @include adaptiveValue("margin-bottom", 60, 23);
    }
    // .team__container
    &__container {
    }
    // .team__item
    &__item {
        @include adaptiveValue("padding-top", 150, 30);
        @include adaptiveValue("padding-bottom", 150, 30);

        &:first-of-type {
            padding-top: 0 !important;
        }

        &:nth-of-type(2n + 2) {
            background-color: #080d1b;
            position: relative;
            @include adaptiveValue("border-radius", 80, 30);

            &::before {
                content: "";
                background: url("@img/elements/team-every-second.png") center no-repeat;
                background-size: contain;
                position: absolute;
                top: rem(80);
                right: 0;
                z-index: 1;

                width: rem(159);
                height: rem(159);
            }

            .item-team__container {
                @media (min-width: $tablet) {
                    flex-direction: row-reverse;
                }
            }

            .item-team__name,
            .item-team__description,
            .footer-item-team__item {
                color: #fff;
            }

            .footer-item-team__button {
                background-color: #fff;
                color: $dark;
            }

            .footer-item-team {
                border-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}
.item-team {
    // .item-team__container
    &__container {
        display: flex;
        flex-direction: column-reverse;

        @include adaptiveValue("gap", 210, 30, 1920, 1366, 1);
        position: relative;
        z-index: 100;

        @media (min-width: $tablet) {
            flex-direction: row;
        }
    }
    // .item-team__left
    &__left {
        flex: 1 1 50%;
    }
    // .item-team__name
    &__name {
        margin-bottom: rem(10);
        line-height: math.div(51, 34);
        @include adaptiveValue("font-size", 34, 16);
        text-transform: uppercase;
        color: $dark;
    }
    // .item-team__position
    &__position {
        @include adaptiveValue("margin-bottom", 32, 10);
        line-height: 1;
        color: $golden;
        @include adaptiveValue("font-size", 16, 12);
        text-transform: uppercase;
    }
    // .item-team__description
    &__description {
        @include adaptiveValue("margin-bottom", 53, 16);
        color: #000;

        p {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }
    // .item-team__footer
    &__footer {
        padding-top: rem(16);
        border-top: 1px solid rgba(13, 21, 42, 0.3);
    }
    // .item-team__right
    &__right {
        max-width: rem(469);
        img {
            width: 100%;
            max-height: rem(484);
            border-radius: 30px;
        }
    }
}
.footer-item-team {
    // .footer-item-team__contacts
    &__contacts {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("gap", 75, 10, 1600, 991, 1);

        margin-bottom: rem(30);

        @media (max-width: $tablet) {
            flex-wrap: wrap;
        }
    }
    // .footer-item-team__item
    &__item {
        color: $dark;
        white-space: nowrap;

        &::before {
            font-size: rem(15);
            color: $golden;
        }

        @media (max-width: $mobile) {
            &:last-of-type {
                flex: 0 0 100%;
                order: 1;
            }
        }
    }
    // .footer-item-team__social
    &__social {
        display: flex;

        a {
            font-size: 0;

            &::before {
                font-size: rem(30);
                color: #d3d8db;

                transition: color 0.2s ease;
            }

            &:hover {
                &::before {
                    color: #0077ff;
                }
            }
        }
    }
    // .footer-item-team__button
    &__button {
    }
}
