.text-page {
    font-weight: 400;
    @include adaptiveValue("font-size", 20, 12);

    h1 {
        @include adaptiveValue("margin-bottom", 40, 11);
        @include adaptiveValue("font-size", 60, 28);
    }

    h2,
    h3 {
        margin: rem(40) 0 rem(15);

        line-height: math.div(33, 28);
        @include adaptiveValue("font-size", 28, 14);
        color: $dark;
    }

    p {
        margin-bottom: rem(33);
    }

    ul,
    ol {
        margin-bottom: rem(33);
    }
    li {
        list-style: inside auto;

        &:not(:last-child) {
            margin-bottom: rem(20);
        }
    }
}
